#set $D="%Y-%m-%d"
#set $Time=" %H:%M"
{  
    "daymaxuv": $day.UV.max.formatted,
    "daymaxuvtime": $day.UV.maxtime.raw,  
    "monthmaxuv": $month.UV.max.formatted,
    "monthmaxuvtime": $month.UV.maxtime.raw,  
    "yesterdaymaxuv": $yesterday.UV.max.formatted,
    "yesterdaymaxuvtime": $yesterday.UV.maxtime.raw,  
    "yearmaxuv": $year.UV.max.formatted,
    "yearmaxuvtime": $year.UV.maxtime.raw,
    "daymaxsolar": $day.radiation.max.formatted,
    "daymaxsolartime": $day.radiation.maxtime.raw,  
    "monthmaxsolar": $month.radiation.max.formatted,
    "monthmaxsolartime": $month.radiation.maxtime.raw,  
    "yesterdaymaxsolar": $yesterday.radiation.max.formatted,
    "yesterdaymaxsolartime": $yesterday.radiation.maxtime.raw,  
    "yearmaxsolar": $year.radiation.max.formatted,
    "yearmaxsolartime": $year.radiation.maxtime.raw,  
    "daymaxbarom": $day.barometer.max.formatted,
    "dayminbarom": $day.barometer.min.formatted,
    "daymaxbaromtime": $day.barometer.maxtime.raw,
    "dayminbaromtime": $day.barometer.mintime.raw,
    "daymaxtemp": $day.outTemp.max.formatted,
	"daymintemp": $day.outTemp.min.formatted,
	"daymaxtemptime": $day.outTemp.maxtime.raw,
	"daymintemptime": $day.outTemp.mintime.raw,
	"daymaxrainrate": $day.rainRate.max.formatted,
	"daymaxrainratetime": $day.rainRate.maxtime.raw,
	"dayrainsum": $day.rain.sum.formatted,
	"yesterdaymaxtemp": $yesterday.outTemp.max.formatted,
	"yesterdaymintemp": $yesterday.outTemp.min.formatted,
	"yesterdaymaxtemptime": $yesterday.outTemp.maxtime.raw,
	"yesterdaymintemptime": $yesterday.outTemp.mintime.raw,
	"yesterdaymaxrainrate": $yesterday.rainRate.max.formatted,
	"yesterdaymaxrainratetime": $yesterday.rainRate.maxtime.raw,
	"yesterdayrainsum": $yesterday.rain.sum.formatted,
    "yesterdaymaxbarom": $yesterday.barometer.max.formatted,
	"yesterdayminbarom": $yesterday.barometer.min.formatted,
	"yesterdaymaxbaromtime": $yesterday.barometer.maxtime.raw,
	"yesterdayminbaromtime": $yesterday.barometer.mintime.raw,  
	"monthmaxtemp": $month.outTemp.max.formatted,
	"monthmintemp": $month.outTemp.min.formatted,
	"monthmaxtemptime": $month.outTemp.maxtime.raw,
	"monthmintemptime": $month.outTemp.mintime.raw,
	"monthmaxrainrate": $month.rainRate.max.formatted,
	"monthmaxrainratetime": $month.rainRate.maxtime.raw,
	"monthrainsum": $month.rain.maxsum.formatted,
	"monthrainsumtime": $month.rain.maxsumtime.raw,
    "monthmaxbarom": $month.barometer.max.formatted,
	"monthminbarom": $month.barometer.min.formatted,
	"monthmaxbaromtime": $month.barometer.maxtime.raw,
	"monthminbaromtime": $month.barometer.mintime.raw,
	"yearmaxtemp": $year.outTemp.max.formatted,
	"yearmintemp": $year.outTemp.min.formatted,
	"yearmaxtemptime": $year.outTemp.maxtime.raw,
	"yearmintemptime": $year.outTemp.mintime.raw,
	"yearmaxrainrate": $year.rainRate.max.formatted,
	"yearmaxrainratetime": $year.rainRate.maxtime.raw,
	"yearrainsum": $year.rain.maxsum.formatted,
	"yearrainsumtime": $year.rain.maxsumtime.raw,
	"daymaxwind": $day.windSpeed.max.formatted,
	"daymaxgust": $day.windGust.max.formatted,
	"daymaxwindtime": $day.windSpeed.maxtime.raw,
	"daymaxgusttime": $day.windGust.maxtime.raw,
	"yesterdaymaxwind": $yesterday.windSpeed.max.formatted,
	"yesterdaymaxgust": $yesterday.windGust.max.formatted,
	"yesterdaymaxwindtime": $yesterday.windSpeed.maxtime.raw,
	"yesterdaymaxgusttime": $yesterday.windGust.maxtime.raw,
	"monthmaxwind": $month.windSpeed.max.formatted,
	"monthmaxgust": $month.windGust.max.formatted,
	"monthmaxwindtime": $month.windSpeed.maxtime.raw,
	"monthmaxgusttime": $month.windGust.maxtime.raw,
	"yearmaxwind": $year.windSpeed.max.formatted,
	"yearmaxgust": $year.windGust.max.formatted,
	"yearmaxwindtime": $year.windSpeed.maxtime.raw,
	"yearmaxgusttime": $year.windGust.maxtime.raw,
    "yearmaxbarom": $year.barometer.max.formatted,
	"yearminbarom": $year.barometer.min.formatted,
	"yearmaxbaromtime": $year.barometer.maxtime.raw,
	"yearminbaromtime": $year.barometer.mintime.raw,
    "alltimemaxtemp": $alltime.outTemp.max.formatted,
    "alltimemintemp": $alltime.outTemp.min.formatted,
    "alltimemaxtemptime": $alltime.outTemp.maxtime.raw,
    "alltimemintemptime": $alltime.outTemp.mintime.raw,
    "alltimemaxbarom": $alltime.barometer.max.formatted,
    "alltimeminbarom": $alltime.barometer.min.formatted,
    "alltimemaxbaromtime": $alltime.barometer.maxtime.raw,
    "alltimeminbaromtime": $alltime.barometer.mintime.raw,
    "alltimemaxgust": $alltime.windGust.max.formatted,
    "alltimemingust": $alltime.windGust.min.formatted,
    "alltimemaxgusttime": $alltime.windGust.maxtime.raw,
    "alltimemingusttime": $alltime.windGust.mintime.raw,
    "alltimemaxrainrate": $alltime.rainRate.max.formatted,
    "alltimeminrainrate": $alltime.rainRate.min.formatted,
    "alltimemaxrainratetime": $alltime.rainRate.maxtime.raw,
    "alltimeminrainratetime": $alltime.rainRate.mintime.raw,
    "alltimerainsum": $alltime.rain.maxsum.formatted,
	"alltimerainsumtime": $alltime.rain.maxsumtime.raw,
    "alltimemaxsolar": $alltime.radiation.max.formatted,
    "alltimemaxsolartime": $alltime.radiation.maxtime.raw,  
    "alltimemaxuv": $alltime.UV.max.formatted,
    "alltimemaxsolartime": $alltime.UV.maxtime.raw  
}