{"station_id":$station.station_type,
"station_name":$station.location,
"public_name":$station.id,
"latitude":"$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]",
"longitude":"$station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]",
"timezone":"Europe/Moscow","elevation":$station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2],
"is_public":true,
"status":{
	"status_code":0,
	"status_message":"SUCCESS"},
"station_units":{
	"units_temp":"c",
	"units_wind":"kmph",
	"units_precip":"mm",
	"units_pressure":"mb",
	"units_distance":"km",
	"units_direction":"cardinal",
	"units_other":"metric"},
"outdoor_keys":["timestamp",
	"air_temperature",
	"barometric_pressure",
	"sea_level_pressure",
	"relative_humidity",
	"precip",
	"precip_accum_last_1hr",
	"precip_accum_last_24hr",
	"precip_accum_local_day",
	"precip_accum_local_yesterday",
	"wind_avg",
	"wind_direction",
	"wind_gust",
	"wind_lull",
	"solar_radiation",
	"uv",
	"brightness",
	"lightning_strike_last_epoch",
	"lightning_strike_last_distance",
	"lightning_strike_count",
	"lightning_strike_count_last_3hr",
	"feels_like",
	"heat_index",
	"wind_chill",
	"dew_point",
	"wet_bulb_temperature",
	"delta_t",
	"air_density"],
"obs":[{"timestamp":$current.dateTime,
	"air_temperature":$current.outTemp,
	"barometric_pressure":$current.barometer,
	"sea_level_pressure":1011.7,
	"relative_humidity":$current.outHumidity,
	"precip":0.0,
	"precip_accum_last_1hr":0.0,
	"precip_accum_last_24hr":5.302,
	"precip_accum_local_day":5.302,
	"precip_accum_local_yesterday":0.0,
	"wind_avg":$day.wind.avg,
	"wind_direction":$current.windDir,
	"wind_gust":$day.wind.max,
	"wind_lull":$current.windchill,
	"solar_radiation":$current.radiation,
	"uv":$current.UV,
	"brightness":0,
	"lightning_strike_last_epoch":1539289816,
	"lightning_strike_last_distance":31,
	"lightning_strike_count":0,
	"lightning_strike_count_last_3hr":1,
	"feels_like":15.5,
	"heat_index":15.5,
	"wind_chill":15.5,
	"dew_point":$current.dewpoint,
	"wet_bulb_temperature":14.9,
	"delta_t":0.6,
	"air_density":1.21736}
]}
